@import '_variables';

.Controls {
  margin: $margin 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  p {
    line-height: 0.9em;
  }

  button {
    margin-left: $margin / 2;
    font-size: 0.75em;
    outline: none;
  }
}
