@import '_variables';

.Footer {
  z-index: 999;
  position: absolute;
  bottom: $margin;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  opacity: 0;
  transition: all $transitionSpeed ease;

  &.visible {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
  }
}
